<a href="https://colab.research.google.com/github/IzzatunNauly/Web/blob/master/BigData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Spark Random Forest Classifier

Kode tersebut adalah perintah untuk menginstal pustaka atau modul "pyspark" menggunakan pip, yang merupakan manajer paket Python.

In [14]:
pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.4.0.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 5.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.0-py2.py3-none-any.whl size=311317130 sha256=ae76ba969aa14ce022583c273057aca754a2dea1bc0a683ac79e804b3e8084ec
  Stored in directory: /root/.cache/pip/wheels/7b/1b/4b/3363a1d04368e7ff0d408e57ff57966fcdf00583774e761327
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.0

Kode tersebut mengimpor kelas SparkSession dari modul pyspark.sql dan mengimpor modul functions dari pyspark.sql dengan alias F.

In [16]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F

Kode tersebut membuat objek SparkSession dengan menggunakan metode builder dan metode getOrCreate(). Jika SparkSession sudah ada, maka akan mengembalikan yang sudah ada; jika tidak, maka akan membuat yang baru. Objek SparkSession digunakan untuk mengakses dan mengoperasikan fungsionalitas Spark SQL.

In [18]:
spark = SparkSession.builder.getOrCreate()

In [19]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [58]:
import pandas as pd

wbc = pd.read_csv('/content/drive/MyDrive/Mechine Learning /pima.csv')
wbc.head()

   preg  gluc  bp  st  insu   bmi   pedi  age  outcome
0     6   148  72  35     0  33.6  0.627   50        1
1     1    85  66  29     0  26.6  0.351   31        0
2     8   183  64   0     0  23.3  0.672   32        1
3     1    89  66  23    94  28.1  0.167   21        0
4     0   137  40  35   168  43.1  2.288   33        1

Kode tersebut membuat DataFrame dengan menggunakan metode createDataFrame() dari objek SparkSession, dengan argumen wbc. Kemudian, kode tersebut memilih kolom "outcome" dari DataFrame df dan menampilkan isinya menggunakan metode show().

In [27]:
df = spark.createDataFrame(wbc)
df.select("outcome").show()

+-------+
|outcome|
+-------+
|      1|
|      0|
|      1|
|      0|
|      1|
|      0|
|      1|
|      0|
|      1|
|      1|
|      0|
|      1|
|      0|
|      1|
|      1|
|      1|
|      1|
|      1|
|      0|
|      1|
+-------+
only showing top 20 rows

Kode tersebut menghitung jumlah baris atau entri dalam DataFrame df menggunakan metode count().

In [28]:
df.count()

768

Kode tersebut menghitung jumlah kolom dalam DataFrame df dengan menggunakan fungsi len() yang diterapkan pada atribut columns dari DataFrame tersebut.

In [29]:
len(df.columns)

9

Kode tersebut mencetak skema DataFrame df menggunakan metode printSchema(). Skema DataFrame adalah representasi struktural yang menunjukkan tipe data dan struktur kolom dalam DataFrame.

In [30]:
df.printSchema()

root
 |-- preg: long (nullable = true)
 |-- gluc: long (nullable = true)
 |-- bp: long (nullable = true)
 |-- st: long (nullable = true)
 |-- insu: long (nullable = true)
 |-- bmi: double (nullable = true)
 |-- pedi: double (nullable = true)
 |-- age: long (nullable = true)
 |-- outcome: long (nullable = true)

Kode tersebut menghasilkan ringkasan statistik deskriptif dari DataFrame df menggunakan metode describe(). Kemudian, metode show() digunakan untuk menampilkan hasil ringkasan tersebut.

In [31]:
df.describe().show()

+-------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+
|summary|              preg|             gluc|                bp|                st|              insu|               bmi|              pedi|               age|           outcome|
+-------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+
|  count|               768|              768|               768|               768|               768|               768|               768|               768|               768|
|   mean|3.8450520833333335|     120.89453125|       69.10546875|20.536458333333332| 79.79947916666667|31.992578124999984|0.4718763020833327|33.240885416666664|0.3489583333333333|
| stddev|3.3695780626988694|31.97261819513622|19.355807170644777|15.952217567727635|115.24400235133811| 7.884160320375445|0.3313285950127749|11.760231540678685|0.4769513772427988|
|    min|                 0|                0|                 0|                 0|                 0|               0.0|             0.078|                21|                 0|
|    max|                17|              199|               122|                99|               846|              67.1|              2.42|                81|                 1|
+-------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+

Kode tersebut mengembalikan lima baris pertama dari DataFrame df menggunakan metode head(5). Metode head(n) digunakan untuk mengambil n baris pertama dari DataFrame atau objek Dataset.

In [32]:
df.head(5)

[Row(preg=6, gluc=148, bp=72, st=35, insu=0, bmi=33.6, pedi=0.627, age=50, outcome=1),
 Row(preg=1, gluc=85, bp=66, st=29, insu=0, bmi=26.6, pedi=0.351, age=31, outcome=0),
 Row(preg=8, gluc=183, bp=64, st=0, insu=0, bmi=23.3, pedi=0.672, age=32, outcome=1),
 Row(preg=1, gluc=89, bp=66, st=23, insu=94, bmi=28.1, pedi=0.167, age=21, outcome=0),
 Row(preg=0, gluc=137, bp=40, st=35, insu=168, bmi=43.1, pedi=2.288, age=33, outcome=1)]

Kode tersebut melakukan operasi pengelompokan (group by) pada kolom "outcome" dalam DataFrame df. Kemudian, menggunakan metode count() untuk menghitung jumlah entri dalam setiap kelompok. Terakhir, metode show() digunakan untuk menampilkan hasilnya.

In [33]:
df.groupBy("outcome").count().show()

+-------+-----+
|outcome|count|
+-------+-----+
|      0|  500|
|      1|  268|
+-------+-----+

Kode tersebut melakukan operasi pengelompokan (group by) pada kolom "age" dalam DataFrame df. Kemudian, menggunakan metode count() untuk menghitung jumlah entri dalam setiap kelompok usia. Terakhir, metode show() digunakan untuk menampilkan hasilnya.

In [34]:
df.groupBy("age").count().show()

+---+-----+
|age|count|
+---+-----+
| 26|   33|
| 29|   29|
| 65|    3|
| 54|    6|
| 22|   72|
| 34|   14|
| 50|    8|
| 57|    5|
| 32|   16|
| 43|   13|
| 31|   24|
| 39|   12|
| 25|   48|
| 58|    7|
| 27|   32|
| 63|    4|
| 51|    8|
| 56|    3|
| 52|    8|
| 41|   22|
+---+-----+
only showing top 20 rows

Kode tersebut mengimpor kelas VectorAssembler dari modul pyspark.ml.feature. VectorAssembler adalah sebuah transformer yang menggabungkan beberapa kolom fitur menjadi sebuah vektor fitur tunggal dalam DataFrame, yang biasanya digunakan sebagai langkah persiapan data sebelum melatih model ML.

In [35]:
from pyspark.ml.feature import VectorAssembler

In [36]:
df.columns

['preg', 'gluc', 'bp', 'st', 'insu', 'bmi', 'pedi', 'age', 'outcome']

Kode tersebut membuat objek VectorAssembler dengan nama "assemble". Objek ini menggunakan kolom-kolom 'preg', 'gluc', 'bp', 'st', 'insu', 'bmi', 'pedi', dan 'age' sebagai inputCols, dan menggabungkannya menjadi sebuah vektor fitur tunggal dengan nama kolom "features" sebagai outputCol. VectorAssembler akan digunakan untuk menggabungkan kolom-kolom tersebut menjadi satu vektor fitur dalam DataFrame.

In [37]:
assemble = VectorAssembler(inputCols=['preg', 'gluc', 'bp', 'st', 'insu', 'bmi', 'pedi', 'age'],
                                      outputCol="features")

Variabel "assemble" adalah objek VectorAssembler yang telah dibuat sebelumnya. Objek ini dapat digunakan dalam tahap pemrosesan data atau dalam pipa pemrosesan data yang melibatkan penggabungan kolom menjadi vektor fitur tunggal dalam DataFrame.

In [38]:
assemble

VectorAssembler_af8d83f2a873

Kode tersebut menggunakan objek VectorAssembler "assemble" untuk mentransformasikan DataFrame "df". Transformasi ini menggabungkan kolom-kolom yang telah ditentukan menjadi sebuah vektor fitur tunggal dengan nama kolom "features". Hasil transformasi disimpan dalam variabel "output".

In [39]:
output = assemble.transform(df)

In [40]:
output.show()

+----+----+---+---+----+----+-----+---+-------+--------------------+
|preg|gluc| bp| st|insu| bmi| pedi|age|outcome|            features|
+----+----+---+---+----+----+-----+---+-------+--------------------+
|   6| 148| 72| 35|   0|33.6|0.627| 50|      1|[6.0,148.0,72.0,3...|
|   1|  85| 66| 29|   0|26.6|0.351| 31|      0|[1.0,85.0,66.0,29...|
|   8| 183| 64|  0|   0|23.3|0.672| 32|      1|[8.0,183.0,64.0,0...|
|   1|  89| 66| 23|  94|28.1|0.167| 21|      0|[1.0,89.0,66.0,23...|
|   0| 137| 40| 35| 168|43.1|2.288| 33|      1|[0.0,137.0,40.0,3...|
|   5| 116| 74|  0|   0|25.6|0.201| 30|      0|[5.0,116.0,74.0,0...|
|   3|  78| 50| 32|  88|31.0|0.248| 26|      1|[3.0,78.0,50.0,32...|
|  10| 115|  0|  0|   0|35.3|0.134| 29|      0|[10.0,115.0,0.0,0...|
|   2| 197| 70| 45| 543|30.5|0.158| 53|      1|[2.0,197.0,70.0,4...|
|   8| 125| 96|  0|   0| 0.0|0.232| 54|      1|[8.0,125.0,96.0,0...|
|   4| 110| 92|  0|   0|37.6|0.191| 30|      0|[4.0,110.0,92.0,0...|
|  10| 168| 74|  0|   0|38.0|0.537| 34|      1|[10.0,168.0,74.0,...|
|  10| 139| 80|  0|   0|27.1|1.441| 57|      0|[10.0,139.0,80.0,...|
|   1| 189| 60| 23| 846|30.1|0.398| 59|      1|[1.0,189.0,60.0,2...|
|   5| 166| 72| 19| 175|25.8|0.587| 51|      1|[5.0,166.0,72.0,1...|
|   7| 100|  0|  0|   0|30.0|0.484| 32|      1|[7.0,100.0,0.0,0....|
|   0| 118| 84| 47| 230|45.8|0.551| 31|      1|[0.0,118.0,84.0,4...|
|   7| 107| 74|  0|   0|29.6|0.254| 31|      1|[7.0,107.0,74.0,0...|
|   1| 103| 30| 38|  83|43.3|0.183| 33|      0|[1.0,103.0,30.0,3...|
|   1| 115| 70| 30|  96|34.6|0.529| 32|      1|[1.0,115.0,70.0,3...|
+----+----+---+---+----+----+-----+---+-------+--------------------+
only showing top 20 rows

Kode tersebut memilih kolom "features" dan "outcome" dari DataFrame "output" dan menampilkannya menggunakan metode show(). Parameter truncate=False digunakan untuk menampilkan seluruh isi kolom tanpa memotong tampilannya.

In [43]:
output.select(["features", "outcome"]).show(truncate=False)

+-------------------------------------------+-------+
|features                                   |outcome|
+-------------------------------------------+-------+
|[6.0,148.0,72.0,35.0,0.0,33.6,0.627,50.0]  |1      |
|[1.0,85.0,66.0,29.0,0.0,26.6,0.351,31.0]   |0      |
|[8.0,183.0,64.0,0.0,0.0,23.3,0.672,32.0]   |1      |
|[1.0,89.0,66.0,23.0,94.0,28.1,0.167,21.0]  |0      |
|[0.0,137.0,40.0,35.0,168.0,43.1,2.288,33.0]|1      |
|[5.0,116.0,74.0,0.0,0.0,25.6,0.201,30.0]   |0      |
|[3.0,78.0,50.0,32.0,88.0,31.0,0.248,26.0]  |1      |
|[10.0,115.0,0.0,0.0,0.0,35.3,0.134,29.0]   |0      |
|[2.0,197.0,70.0,45.0,543.0,30.5,0.158,53.0]|1      |
|[8.0,125.0,96.0,0.0,0.0,0.0,0.232,54.0]    |1      |
|[4.0,110.0,92.0,0.0,0.0,37.6,0.191,30.0]   |0      |
|[10.0,168.0,74.0,0.0,0.0,38.0,0.537,34.0]  |1      |
|[10.0,139.0,80.0,0.0,0.0,27.1,1.441,57.0]  |0      |
|[1.0,189.0,60.0,23.0,846.0,30.1,0.398,59.0]|1      |
|[5.0,166.0,72.0,19.0,175.0,25.8,0.587,51.0]|1      |
|[7.0,100.0,0.0,0.0,0.0,30.0,0.484,32.0]    |1      |
|[0.0,118.0,84.0,47.0,230.0,45.8,0.551,31.0]|1      |
|[7.0,107.0,74.0,0.0,0.0,29.6,0.254,31.0]   |1      |
|[1.0,103.0,30.0,38.0,83.0,43.3,0.183,33.0] |0      |
|[1.0,115.0,70.0,30.0,96.0,34.6,0.529,32.0] |1      |
+-------------------------------------------+-------+
only showing top 20 rows

Kode tersebut membuat DataFrame baru dengan nama "model_df" yang berisi kolom "features" dan "outcome" dari DataFrame "output". DataFrame ini biasanya digunakan sebagai input untuk melatih atau membangun model machine learning.

In [44]:
model_df = output.select(["features", "outcome"])

In [45]:
model_df.show()

+--------------------+-------+
|            features|outcome|
+--------------------+-------+
|[6.0,148.0,72.0,3...|      1|
|[1.0,85.0,66.0,29...|      0|
|[8.0,183.0,64.0,0...|      1|
|[1.0,89.0,66.0,23...|      0|
|[0.0,137.0,40.0,3...|      1|
|[5.0,116.0,74.0,0...|      0|
|[3.0,78.0,50.0,32...|      1|
|[10.0,115.0,0.0,0...|      0|
|[2.0,197.0,70.0,4...|      1|
|[8.0,125.0,96.0,0...|      1|
|[4.0,110.0,92.0,0...|      0|
|[10.0,168.0,74.0,...|      1|
|[10.0,139.0,80.0,...|      0|
|[1.0,189.0,60.0,2...|      1|
|[5.0,166.0,72.0,1...|      1|
|[7.0,100.0,0.0,0....|      1|
|[0.0,118.0,84.0,4...|      1|
|[7.0,107.0,74.0,0...|      1|
|[1.0,103.0,30.0,3...|      0|
|[1.0,115.0,70.0,3...|      1|
+--------------------+-------+
only showing top 20 rows

Kode tersebut membagi DataFrame "model_df" menjadi dua bagian, yaitu "training_df" dan "test_df", menggunakan metode randomSplit(). Proporsi pembagian ditentukan oleh argumen [0.7, 0.3], di mana 0.7 adalah proporsi untuk "training_df" dan 0.3 adalah proporsi untuk "test_df". Pembagian ini umumnya dilakukan untuk memisahkan data menjadi data pelatihan (training data) dan data pengujian (test data) dalam pemodelan machine learning.

In [46]:
training_df, test_df = model_df.randomSplit([0.7, 0.3])

Kode tersebut mencetak jumlah baris dalam DataFrame "training_df" menggunakan metode count(). Jumlah baris ini mengindikasikan banyaknya data yang ada dalam data pelatihan.

In [47]:
print(training_df.count())

546

Kode tersebut mencetak jumlah baris dalam DataFrame "test_df" menggunakan metode count(). Jumlah baris ini mengindikasikan banyaknya data yang ada dalam data pengujian.

In [48]:
print(test_df.count())

222

Kode tersebut mengimpor kelas RandomForestClassifier dari modul pyspark.ml.classification. RandomForestClassifier adalah salah satu algoritma klasifikasi yang menggunakan ensemble learning dan membangun sejumlah pohon keputusan acak (randomized decision trees) untuk membuat prediksi kelas.

In [49]:
from pyspark.ml.classification import RandomForestClassifier

Kode tersebut membuat objek RandomForestClassifier dengan nama "rf_classifier". Objek ini menggunakan kolom "outcome" sebagai labelCol (kolom target) dan menggunakan 50 pohon keputusan acak (numTrees=50). Selanjutnya, objek RandomForestClassifier dilatih (fit) dengan menggunakan DataFrame "training_df". Hasilnya adalah model RandomForestClassifier yang siap digunakan untuk melakukan prediksi.

In [50]:
rf_classifier = RandomForestClassifier(labelCol="outcome",
                                       numTrees=50).fit(training_df)

Kode tersebut menggunakan model RandomForestClassifier "rf_classifier" untuk melakukan prediksi pada DataFrame "test_df". Prediksi dilakukan dengan menggunakan metode transform(), dan hasilnya disimpan dalam variabel "rf_prediction". DataFrame "rf_prediction" akan berisi kolom-kolom asli dari "test_df" serta kolom-kolom tambahan yang berisi prediksi yang dihasilkan oleh model.

In [51]:
rf_prediction =rf_classifier.transform(test_df)

In [52]:
rf_prediction.show()

+--------------------+-------+--------------------+--------------------+----------+
|            features|outcome|       rawPrediction|         probability|prediction|
+--------------------+-------+--------------------+--------------------+----------+
|(8,[1,5,6,7],[131...|      1|[26.2946690169809...|[0.52589338033961...|       0.0|
|[0.0,86.0,68.0,32...|      0|[44.9392779227129...|[0.89878555845425...|       0.0|
|[0.0,95.0,85.0,25...|      1|[45.1360241315976...|[0.90272048263195...|       0.0|
|[0.0,98.0,82.0,15...|      0|[48.0660076121722...|[0.96132015224344...|       0.0|
|[0.0,100.0,88.0,6...|      0|[28.0078214880360...|[0.56015642976072...|       0.0|
|[0.0,101.0,64.0,1...|      0|[48.0319025162693...|[0.96063805032538...|       0.0|
|[0.0,102.0,75.0,2...|      0|[46.8038512229447...|[0.93607702445889...|       0.0|
|[0.0,104.0,76.0,0...|      0|[46.0033616324806...|[0.92006723264961...|       0.0|
|[0.0,106.0,70.0,3...|      0|[39.1130422525011...|[0.78226084505002...|       0.0|
|[0.0,109.0,88.0,3...|      1|[29.7304476828826...|[0.59460895365765...|       0.0|
|[0.0,117.0,80.0,3...|      0|[39.1240571111349...|[0.78248114222269...|       0.0|
|[0.0,118.0,84.0,4...|      1|[22.5655318932091...|[0.45131063786418...|       1.0|
|[0.0,119.0,64.0,1...|      0|[38.5312523057210...|[0.77062504611442...|       0.0|
|[0.0,124.0,70.0,2...|      1|[38.0675583351676...|[0.76135116670335...|       0.0|
|[0.0,131.0,88.0,0...|      1|[23.2199338955860...|[0.46439867791172...|       1.0|
|[0.0,140.0,65.0,2...|      1|[31.7245172540474...|[0.63449034508094...|       0.0|
|[0.0,146.0,70.0,0...|      1|[27.2794166797867...|[0.54558833359573...|       0.0|
|[0.0,147.0,85.0,5...|      0|[22.2177275795744...|[0.44435455159148...|       1.0|
|[0.0,161.0,50.0,0...|      0|[25.5989898928194...|[0.51197979785638...|       0.0|
|[0.0,162.0,76.0,5...|      1|[16.0963174644046...|[0.32192634928809...|       1.0|
+--------------------+-------+--------------------+--------------------+----------+
only showing top 20 rows

Kode tersebut mengimpor kelas BinaryClassificationEvaluator dari modul pyspark.ml.evaluation. BinaryClassificationEvaluator adalah evaluator yang digunakan untuk mengevaluasi kinerja model klasifikasi biner. Evaluator ini dapat digunakan untuk menghitung metrik evaluasi seperti area under ROC curve (AUC), area under precision-recall curve (PR AUC), dan sebagainya.

In [53]:
from pyspark.ml.evaluation import BinaryClassificationEvaluator

Kode tersebut menggunakan evaluator BinaryClassificationEvaluator untuk menghitung nilai AUC (Area Under the ROC Curve) dari prediksi model RandomForestClassifier pada DataFrame "rf_prediction". Evaluator ini menggunakan kolom "outcome" sebagai labelCol (kolom target) untuk membandingkan hasil prediksi dengan nilai sebenarnya dan menghasilkan skor AUC. Skor AUC kemudian disimpan dalam variabel "rf_auc".

In [54]:
rf_auc = BinaryClassificationEvaluator(labelCol="outcome").evaluate(rf_prediction)

Kode tersebut menghasilkan nilai AUC (Area Under the ROC Curve) yang telah dihitung menggunakan evaluator BinaryClassificationEvaluator. Nilai AUC tersebut disimpan dalam variabel "rf_auc" dan dapat digunakan untuk mengevaluasi kinerja model RandomForestClassifier.

In [55]:
rf_auc

0.8506161971830987

In [57]:
df.columns

['preg', 'gluc', 'bp', 'st', 'insu', 'bmi', 'pedi', 'age', 'outcome']

In [61]:
rf_classifier.featureImportances

SparseVector(8, {0: 0.0754, 1: 0.398, 2: 0.0405, 3: 0.0489, 4: 0.0477, 5: 0.1644, 6: 0.0757, 7: 0.1495})